CacheAccessWebSite/Service References/CacheServiceClient/CacheService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CacheService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://zhuowang10-001-site1.smarterasp.net/CacheServiceWeb/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://zhuowang10-001-site1.smarterasp.net/CacheServiceWeb/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICacheService_GetHelloWorldWithCache_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHelloWorldWithCache" />
  </wsdl:message>
  <wsdl:message name="ICacheService_GetHelloWorldWithCache_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHelloWorldWithCacheResponse" />
  </wsdl:message>
  <wsdl:message name="ICacheService_ClearHelloWorldCache_InputMessage">
    <wsdl:part name="parameters" element="tns:ClearHelloWorldCache" />
  </wsdl:message>
  <wsdl:message name="ICacheService_ClearHelloWorldCache_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClearHelloWorldCacheResponse" />
  </wsdl:message>
  <wsdl:portType name="ICacheService">
    <wsdl:operation name="GetHelloWorldWithCache">
      <wsdl:input wsaw:Action="http://tempuri.org/ICacheService/GetHelloWorldWithCache" message="tns:ICacheService_GetHelloWorldWithCache_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICacheService/GetHelloWorldWithCacheResponse" message="tns:ICacheService_GetHelloWorldWithCache_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClearHelloWorldCache">
      <wsdl:input wsaw:Action="http://tempuri.org/ICacheService/ClearHelloWorldCache" message="tns:ICacheService_ClearHelloWorldCache_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICacheService/ClearHelloWorldCacheResponse" message="tns:ICacheService_ClearHelloWorldCache_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICacheService" type="tns:ICacheService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHelloWorldWithCache">
      <soap:operation soapAction="http://tempuri.org/ICacheService/GetHelloWorldWithCache" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearHelloWorldCache">
      <soap:operation soapAction="http://tempuri.org/ICacheService/ClearHelloWorldCache" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CacheService">
    <wsdl:port name="BasicHttpBinding_ICacheService" binding="tns:BasicHttpBinding_ICacheService">
      <soap:address location="http://zhuowang10-001-site1.smarterasp.net/CacheServiceWeb/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>